In [2]:
def calculate_average(scores):
    avg = sum(scores) / len(scores)

    if avg >= 90:
        return "A"
    elif avg >= 80:
        return "B"
    elif avg >= 70:
        return "C"
    elif avg >= 60:
        return "D"
    else:
        return "F"

In [3]:
scores = [85, 90, 78, 92]
grade = calculate_average(scores)
print(grade)

B

In [4]:
name = "김철수"
scores = [85, 90, 88]

grade = calculate_average(scores)
print(f"{name}의 등급은 {grade}입니다.")

김철수의 등급은 B입니다.

In [6]:
import pandas as pd

books = {
    "도서명": ["데이터분석", "알고리즘", "자바입문", "웹개발", "파이썬"],
    "재고": [12, 20, 8, 3, 15],
    "가격": [35000, 32000, 30000, 28000, 25000]
}

df = pd.DataFrame(books)
print(df)

     도서명  재고     가격
0  데이터분석  12  35000
1   알고리즘  20  32000
2   자바입문   8  30000
3    웹개발   3  28000
4    파이썬  15  25000

In [7]:
print(df.isnull())

     도서명     재고     가격
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False

In [9]:
df_sorted = df.sort_values(by="가격", ascending=False)
print(df_sorted)

     도서명  재고     가격
0  데이터분석  12  35000
1   알고리즘  20  32000
2   자바입문   8  30000
3    웹개발   3  28000
4    파이썬  15  25000

In [11]:
df_sorted["할인가격"] = (df_sorted["가격"] * 0.9).astype(int)
print(df_sorted)

     도서명  재고     가격   할인가격
0  데이터분석  12  35000  31500
1   알고리즘  20  32000  28800
2   자바입문   8  30000  27000
3    웹개발   3  28000  25200
4    파이썬  15  25000  22500

In [12]:
df_sorted.to_csv("book_data.csv", index=False)

In [13]:
import pandas as pd

menu = {
    "메뉴명": ["아메리카노", "카페라떼", "카푸치노", "바닐라라떼", "콜드브루"],
    "판매수량": [120, 95, 60, 80, 50],
    "가격": [4500, 5000, 5000, 5500, 6000]
}

df = pd.DataFrame(menu)
print(df)

     메뉴명  판매수량    가격
0  아메리카노   120  4500
1   카페라떼    95  5000
2   카푸치노    60  5000
3  바닐라라떼    80  5500
4   콜드브루    50  6000

In [14]:
price = df.loc[df["메뉴명"] == "카푸치노", "가격"].values[0]
print(price)

5000

In [15]:
menu = ["아메리카노", "카페라떼", "카푸치노"]
menu.append("바닐라라떼")

print(menu)

['아메리카노', '카페라떼', '카푸치노', '바닐라라떼']